<div class="parent">
    <div class="left">
    <img src="http://placeimg.com/640/480/transport" alt="image">
    <h1>KEN KALIL</h1>
    <h6>pawankalyansamudrala@gmail.com</h6>
    <hr>
    <h6><i class="fas fa-bars"></i>DASHBOARD</h6><BR>
    <H6 routerLink="Interpolation">INTERPOLATION</H6><BR>
    <h6 routerLink="Eventbinding">EVENT BINDING</h6><BR>
    <h6 routerLink="apps"> APPS</h6><BR>
    <h6 routerLink="vehiclesummary">VEHICLE SUMMARY</h6><BR>
    <h6>EXTRA SERVICES</h6>
    <hr>
    <button routerLink="/login" type="submit" class="btn btn-primary">LOGOUT</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
